<mat-card class="card-wrapper">
    <mat-card-title class="margin-title">Home</mat-card-title>

    <mat-card-subtitle class="margin-title">
        Enter Appropriate Data
    </mat-card-subtitle>
    <mat-card-content>
        <div fxLayout="column">
            <div class="form-button">
                <mat-form-field>
                    <mat-label>Home</mat-label>
                    <mat-select [(ngModel)]="selectedLanguage">

                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>

</mat-card>


