<mat-card class="card-wrapper">
    <mat-card-title class="margin-title">About Us:</mat-card-title>

    <mat-card-content class="margin-title">

        <div class="team-member">
            <div class="avatar"></div>
            <div class="details">
                <h4>Wasif Mustahid</h4>
                <p>Software Engineer, Brainstation-23</p>
            </div>
        </div>

        <div class="team-member">
            <div class="avatar"></div>
            <div class="details">
                <h4>Tamim Arefin Anik</h4>
                <p>Software Engineer, Brainstation-23</p>
            </div>
        </div>

        <div class="team-member">
            <div class="avatar"></div>
            <div class="details">
                <h4>Ahmed Nusayer Ashik</h4>
                <p>Software Engineer, Brainstation-23</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>
